<h1>Lista de clientes</h1>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Correo electrónico</th>
        <th scope="col">Identificación</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let client of clients">
        <td>{{client.name}}</td>
        <td>{{client.email}}</td>
        <td>{{client.identification}}</td>
        <td><button class="btn btn-success" (click)="editClient(client.id)">Editar</button> | <button class="btn btn-danger" (click)="deleteClient(client.id)">Eliminar</button></td>
      </tr>
    </tbody>
</table>
<button class="btn btn-info" (click)="createClient()">Crear cliente</button>
